language: c

os:
  - osx

compiler:
  - clang

before_install:
  - brew update
  - brew install miniupnpc qrencode berkeley-db4
  - brew link berkeley-db4 --force
  - brew link openssl --force
  - sudo mkdir -p /opt/local/lib
  - sudo ln -s /usr/local/lib /opt/local/lib/db48
  - wget http://downloads.sourceforge.net/project/boost/boost/1.57.0/boost_1_57_0.tar.gz
  - tar xjf boost_1_57_0.tar.gz
  - cd boost_1_57_0
  - ./bootstrap.sh toolset=clang --prefix=/usr/local/boost_1_57_0
  - sudo ./b2 -j4 toolset=clang --build-type=minimal --with-program_options --with-system --with-filesystem --with-chrono --with-thread cxxflags="-stdlib=libstdc++" linkflags="-stdlib=libstdc++" link=static address-model=64 --layout=tagged install -d0
  - ls /usr/local/opt/
  - ls /usr/local/boost_1_57_0
  - ln -s ../opt/openssl/include/openssl .
  - cd /Users/travis/build/nashanas/GeaouCoin/
  - brew install qt@5.5
  - brew link --force qt@5.5
  - echo 'export PATH="$(brew --prefix qt@5.5)/bin:$PATH"' >> ~/.bashrc
  - which qmake
  - ln -s /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib /usr/local/lib/    
  - ln -s /usr/local/opt/openssl/lib/libssl.1.0.0.dylib /usr/local/lib/
  - git clone https://github.com/nashanas/altdepen.git
  - cd altdepen
  - tar xjf berkeley-db.tar.gz
  - tar xjf boost.tar.gz
  - tar xjf miniupnpc.tar.gz
  - tar xjf openssl.tar.gz
  - pwd
  - cd /Users/travis/build/nashanas/GeaouCoin/src/leveldb
  - chmod +x build_detect_platform
  - cd /Users/travis/build/nashanas/GeaouCoin/src/secp256k1/
  - chmod +x autogen.sh
  
  
script:
  - cd /Users/travis/build/nashanas/GeaouCoin/
  - qmake
  - ./travis_script.sh
