language: c

os:
  - osx

compiler:
  - clang

before_install:
  - brew update
  - brew doctor
  - brew install boost openssl miniupnpc qrencode
  - git clone https://github.com/nashanas/altdepen.git
  - cd altdepen
  - tar xjf berkeley-db.tar.gz
  - tar xjf boost.tar.gz
  - tar xjf miniupnpc.tar.gz
  - tar xjf openssl.tar.gz
  - pwd
  - cd /Users/travis/build/nashanas/GeaouCoin/src/leveldb
  - chmod +x build_detect_platform
  - cd /Users/travis/build/nashanas/GeaouCoin/src/secp256k1/
  - chmod +x autogen.sh
  
  
script:
  - cd /Users/travis/build/nashanas/GeaouCoin/src
  - make -f makefile.osx
