language: c

os:
  - osx

compiler:
  - clang

before_install:
  - brew update
  - brew install miniupnpc qrencode qt
  - ln -s /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib /usr/local/lib/    
  - ln -s /usr/local/opt/openssl/lib/libssl.1.0.0.dylib /usr/local/lib/
  - git clone https://github.com/nashanas/altdepen.git
  - cd altdepen
  - tar xjf berkeley-db.tar.gz
  - tar xjf boost.tar.gz
  - tar xjf miniupnpc.tar.gz
  - tar xjf openssl.tar.gz
  - pwd
  - cd /Users/travis/build/nashanas/GeaouCoin/src/leveldb
  - chmod +x build_detect_platform
  - cd /Users/travis/build/nashanas/GeaouCoin/src/secp256k1/
  - chmod +x autogen.sh
  
  
script:
  - cd /Users/travis/build/nashanas/GeaouCoin/
  - qmake
  - make
